<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.0/hogan.js"></script>

    <script src="/javascripts/carsinfo-widget.js"></script>
    <script src="/javascripts/weatherinfo-widget.js"></script>
    <script src="/javascripts/trackinfo-widget.js"></script>

    <script>
	    $(function() {
			loadData();
			window.widget.trackinfo.init();
			window.widget.weatherinfo.init();
			window.widget.carsinfo.init();

			setInterval(function() {	
				loadData();
		    }, 10000);
	    });

	    function loadData() {
			checkVersion();

			var url = "/data";
			$.getJSON( url, function( data ) {
				window.widget.trackinfo.bind(data.track);
				window.widget.weatherinfo.bind(data.track.weather);
				window.widget.carsinfo.bind(data.cars);
			});
		};

    	var lastVersion = null;
	    function checkVersion() {
	    	$.ajax({url: "/version"}).success(function(data) {
    			if(lastVersion == null) {
    				lastVersion = data;
    			}

    			if(lastVersion != data) {
    				window.location.reload(true);
    			}
	    	})
	    }
    </script>
  </head>

  <body>
  	<!--<div id="trackInfo" class="row"><h2>Track info loading...</h2></div>-->
  	<!--<div id="weatherInfo" class="row"><h2>Weather info loading...</h2></div>-->
  	<div id="carInfo" class="row"><h2>Car info loading...</h2></div>
  	   
    <!--<p>Welcome to <%= title %></p>-->
  </body>
</html>

