<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

    <script>


		var driverStatusTypes = [
				"Unknown",
			    "Retired",
				"Run",
				"Out",
				"Pit"];

	    $(function() {
			loadCarsInfo();

			setInterval(function() {	
				checkVersion();
		        loadCarsInfo();
		    }, 10000);
	    });

    	var lastVersion = null;
	    function checkVersion() {
	    	$.ajax({url: "/version"}).success(function(data) {
    			if(lastVersion == null) {
    				lastVersion = data;
    			}

    			if(lastVersion != data) {
    				window.location.reload(true);
    			}
	    	})
	    }

		function loadTrackInfo() {
			var url = "/data/track";
			$.getJSON( url, function( data ) {
				console.info(data);

				var items = [];
				$.each( data, function( key, val ) {
					items.push( "<li>" + key + ": " + val + "</li>")
				});

				var content = $( "<ul/>", {
					"class": "list",
					html: items.join( "" )
				});

				$("body").html(content);
			});	
		}

		function loadWeatherInfo() {
			var url = "/data/weather";
			$.getJSON( url, function( data ) {
				console.info(data);

				var items = [];
				$.each( data, function( key, val ) {
					items.push( "<li>" + key + ": " + val + "</li>")
				});

				$( "<ul/>", {
					"class": "list",
					html: items.join( "" )
				}).appendTo( "body" );
			});	
		}

		function loadCarsInfo() {
			var url = "/data/cars";
			$.getJSON( url, function( data ) {
				//console.info(data);

				var car = data;
				var content = [];

				console.info(data);
				
				$.each( car, function( key, val ) {
					var items = [];
					var position =  key + 1;
					var driverStatus = driverStatusTypes[val.driverStatus];

					var pilotName = "";
					var pilotPicture = "http://live.fiawec.com/wpphpFichiers/1/pilote/143/Driver_Unknow_.png";

					if (val.pilot !== null) {
						pilotName = val.pilot.firstName + " " + val.pilot.lastName;
						pilotPicture = val.pilot.picture;
					};

					items.push( "<li><strong>" + position + ". " + val.team + "</strong></li>")
					items.push( "<li><strong>" + pilotName + "</strong></li>")
					items.push( "<li><img width='100' height='150' src='" + pilotPicture + "' /></li>")
					
					items.push( "<li>" + val.carBrand + " " + val.carName + "</li>")
					
					items.push( "<li>Average Speed: " + val.averageSpeed + " km/h</li>")
					items.push( "<li>Last Time: " + val.lastTimeInMiliseconds + "</li>")
					items.push( "<li>Best Time: " + val.bestTimeInMiliseconds + "</li>")
					
					items.push( "<li>Laps: " + val.laps + "</li>")
					items.push( "<li>Time Difference: " + val.timeDifference + "</li>")
					items.push( "<li>Pits: " + val.pits + "</li>")
					items.push( "<li>State: " + driverStatus + "</li>")
					items.push( "<li>Tires: " + val.tires + "</li>")

					content.push($( "<ul />", {
						"class": "car-list",
						"id": key,
						html: items.join( "" )
					}));
				});

				$("body").html(content);
			});	
		}
    </script>
  </head>

  <body>
    <h1>Loading...</h1>
    <!--<p>Welcome to <%= title %></p>-->
  </body>
</html>

