<script id="track-template" type="text/x-handlebars-template">

<ul class="track list">
	<li>Local Time: {{localTime}}</li>
	<li>Flag: {{flag}}</li>
    <li>Safety Car: {{safetyCar}}</li>
    <li>Qualify: {{qualify}}</li>
    <li>ElapsedT ime: {{elapsedTime}}</li>
    <li>Remaining Time: {{remainingTime}}</li>
</ul>

</script>
