<h1>Laps <span style="opacity: 0.2">(øverst som tribute vil vores største fan)</span></h1>

<div class="map-wrapper">
	<div id="map" class="position-map">
		<div class="map-content"></div>
	</div>
</div>