<div id="weatherIconContainer" class="row">
</div>

<script id="weathericon-template" type="text/x-handlebars-template">	  
	<img class="weatherIcon" src="{{weatherIconUrl}}" alt="{{weatherType}}" title="{{weatherType}}" />
</script>