<script id="weatherforecast-template" type="text/x-handlebars-template">

<h1>Weather forecast</h1>

	<ul class="weather list">
		<li>Summary: {{summary}}</li>
		<li>Temperature: {{temperature}}</li>
	    <li>Apparent Temperature: {{apparentTemperature}}</li>
	    <li>Dew Point: {{dewPoint}}</li>
	    <li>Humidity: {{humidity}}</li>
	    <li>Wind Speed: {{windSpeed}}</li>
	    <li>Wind Bearing: {{windBearing}}</li>
	    <li>Visibility: {{visibility}}</li>
	    <li>Wind Bearing: {{windBearing}}</li>
	    <li>Cloud Cover: {{cloudCover}}</li>
	    <li>Ozone: {{ozone}}</li>
	</ul>

</script>
