<script id="weather-template" type="text/x-handlebars-template">

	<h1>Weather</h1>

	<ul class="weather list">
		<li>Air Temp: {{airTemp}}</li>
		<li>Road Temp: {{roadTemp}}</li>
	    <li>Humidity: {{humidity}}</li>
	    <li>Air Preassure: {{airPreassure}}</li>
	    <li>Wind Speed: {{windSpeed}}</li>
	    <li>Wind Direction: {{windDirection}}</li>
	    <li>Weather Type: {{weatherType}}</li>
	</ul>

</script>
