<div class="position-map">
	<div class="lap">
		<div class="driver">
			23
		</div>
		<div class="driver">
			23
		</div>
	</div>
	<div class="lap">
		<div class="driver">
			23
		</div>
	</div>
	<div class="lap">
		<div class="driver">
			23
		</div>
	</div>
	<div class="lap">
		<div class="driver">
			23
		</div>
		<div class="driver">
			23
		</div>
		<div class="driver">
			23
		</div>
	</div>
</div>